<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.springbootinit.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.louis.springbootinit.model.entity.Admin">
            <id property="admin_id" column="admin_id" jdbcType="INTEGER"/>
            <result property="admin_name" column="admin_name" jdbcType="VARCHAR"/>
            <result property="admin_gender" column="admin_gender" jdbcType="VARCHAR"/>
            <result property="admin_position" column="admin_position" jdbcType="VARCHAR"/>
            <result property="admin_institution" column="admin_institution" jdbcType="VARCHAR"/>
            <result property="warehouse_id" column="warehouse_id" jdbcType="INTEGER"/>
            <result property="admin_tel" column="admin_tel" jdbcType="VARCHAR"/>
            <result property="admin_acct" column="admin_acct" jdbcType="VARCHAR"/>
            <result property="admin_pwd" column="admin_pwd" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,admin_name,admin_gender,
        admin_position,admin_institution,warehouse_id,
        admin_tel,admin_acct,admin_pwd,
        createTime,updateTime,isDelete
    </sql>
</mapper>
